body, html {
    height: 100%;
}

ul{
    list-style: none;
    padding: 0;
}
a:hover{
    text-decoration: none;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 180px;
    background-color: rgb(26, 29, 34);
    z-index: 1;
}
.sidebar a{
    display: block;
    padding: 20px;
    color: rgb(193, 200, 214);
    border-bottom: 2px solid rgb(0, 0, 0);
}
.tv_menu>li>a{
    text-transform: uppercase;
}
.sidebar a:hover{
    color: white;
}
.tv_menu>li {
    position: relative;
}
.tv_submenu{
    position: absolute;
    top:0;
    left: 100%;
    display: none;
    z-index: 999;
    background-color: rgb(28, 33, 43);
    width: 150px;
}
.sidebar li:hover .tv_submenu{
    display: block;
}
.main{
    margin-left: 180px;
    padding: 15px 30px;
}
.short_desc{
    width: 100%;
    height: 120px;
}
.add_form_field{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(64, 28, 147);
    padding: 5px;
    border: 1px solid rgb(64, 28, 147);
    border-radius: 5%;
    margin-bottom: 15px;
    cursor: pointer;
}
.ck-reset{
    z-index: 0;
}

.del_video_icon{
    margin: 15px;
}
.del_video_icon:hover{
    color: rgb(129, 5, 5);
    cursor: pointer;
}

.video-responsive {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }
  
  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed,
  .video-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }