* {
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none; }

ul {
  list-style: none; }

h1, h2, h3 {
  margin: 0; }

ul.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3636; }
  ul.menu li a {
    display: block;
    color: #f0f6f6;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    transition: 0.3s; }
  ul.menu li a:hover {
    background-color: green;
    background: linear-gradient(to top, #113104 0%, #33cc00 70%);
    color: #1d1a1a; }
  ul.menu li a,
  ul.menu .container_search {
    padding-left: 30px;
    padding-right: 30px;
    margin: auto; }
  ul.menu .container_search {
    padding-right: 65px; }
  ul.menu .search,
  ul.menu .bt_search {
    border: #33cc00 1px solid;
    padding: 7px 10px;
    outline: none;
    font-size: 15px;
    background: #f0f6f6; }
  ul.menu .s_wrapper {
    position: relative;
    width: 150px; }
  ul.menu .bt_search {
    position: absolute;
    left: 100%;
    top: 0;
    border-left: none;
    border-radius: 0 7px 7px 0; }
  ul.menu .search {
    border-radius: 7px 0 0 7px;
    font-style: italic;
    width: 150px; }
  ul.menu .menu_bar {
    display: none; }
  ul.menu .despre {
    position: relative; }

ul.submenu {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: -5%;
  display: none;
  /* border: 1px solid $main-color;
    border-radius: 0 0 5% 5%; */
  background-color: #645a5a;
  width: 110%; }
  ul.submenu li a {
    text-align: center;
    color: #f0f6f2;
    border-bottom: 1px solid #3c3636;
    padding: 14px;
    transition: all 0; }
  ul.submenu li:last-child a {
    border-bottom: none; }

li.despre:hover ul.submenu {
  display: block; }

body {
  background-color: #f0f6f2;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; }

.container_wrapper {
  padding-top: 20px;
  padding-bottom: 20px; }

header .header_bcg {
  width: 100%;
  height: auto;
  position: relative; }

header .logo {
  width: 25%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0; }

.sidebar {
  text-align: center;
  color: #3c3636; }
  .sidebar .hidder {
    font-weight: 600;
    position: relative;
    margin-bottom: 20px; }
    .sidebar .hidder::after {
      content: '';
      display: block;
      position: absolute;
      top: 120%;
      left: 0;
      height: 7px;
      width: 100%;
      background-color: #50ed0c; }
  .sidebar ul li {
    padding: 20px 0; }
    .sidebar ul li a {
      font-size: 20px;
      font-weight: 800;
      color: inherit; }
      .sidebar ul li a:hover {
        color: #50ed0c;
        text-shadow: 1px 1px 5px black, -1px 1px 5px black, 1px -1px 5px black, -1px -1px 5px black; }
  .sidebar div.parteneri img {
    width: 130px;
    margin-top: 35px; }

.main_article {
  background-color: #eaf3f3;
  border: 1px solid #3c3636;
  border-radius: 3%;
  padding: 30px; }
  .main_article .hidder1, .main_article .hidder2, .main_article .hidder3 {
    text-transform: uppercase;
    color: #50ed0c;
    text-shadow: 1px 1px 5px black, -1px 1px 5px black, 1px -1px 5px black, -1px -1px 5px black;
    text-align: center;
    margin-bottom: 20px; }

.footer {
  padding: 20px;
  background-color: #3c3636;
  color: #f0f6f2; }
  .footer .footer_hidders {
    font-size: 20px;
    font-weight: 400; }
  .footer p {
    font-size: 15px; }
    .footer p span {
      font-size: 15px; }
  .footer .socials {
    margin-top: 10px; }
    .footer .socials a {
      margin-right: 10px;
      color: #d4d0d0;
      transition: 0.1s; }
      .footer .socials a:hover {
        color: #f0f6f2; }
      .footer .socials a i {
        font-size: 35px; }

.index_main_article ul {
  list-style-type: square;
  padding: 20px; }
  .index_main_article ul li {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify; }

.news_main_article .item {
  overflow: auto;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 20px; }
  .news_main_article .item .item_more {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #45cb0a; }
  .news_main_article .item a:hover {
    text-decoration: underline; }
  .news_main_article .item .preview {
    width: 200px;
    border-radius: 10%;
    float: left;
    margin-right: 30px; }
  .news_main_article .item .item_hidder {
    font-weight: 400;
    color: #060606;
    font-size: 25px; }
  .news_main_article .item .time_and_date {
    display: inline-block;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 600;
    color: #8c7f7f; }
  .news_main_article .item .item_description,
  .news_main_article .item .item_more {
    font-size: 20px; }

.show_news_main_article .show_news_body {
  font-size: 18px;
  display: inline-block;
  text-align: justify;
  text-indent: 30px; }

.events_main_article .event {
  width: 100%;
  border: 1px solid #3c3636;
  text-align: center;
  margin-bottom: 30px; }
  .events_main_article .event td {
    padding: 10px; }
  .events_main_article .event .description {
    padding: 0; }
    .events_main_article .event .description .description_name_wrapper {
      padding: 20px; }
    .events_main_article .event .description img {
      width: 100%;
      height: auto; }
  .events_main_article .event .time-and-date,
  .events_main_article .event .destination {
    background-color: #3c3636;
    color: #f0f6f2; }
  .events_main_article .event .time-and-date {
    width: 20%; }
    .events_main_article .event .time-and-date .date {
      font-size: 20px; }
    .events_main_article .event .time-and-date .time {
      font-size: 25px; }
  .events_main_article .event .description h3,
  .events_main_article .event .destination .place {
    text-transform: uppercase; }

.members_main_article .members_grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between; }
  .members_main_article .members_grid .member {
    width: 170px;
    border: 3px solid #3c3636;
    border-radius: 20px;
    margin-bottom: 45px; }
    .members_main_article .members_grid .member .member_photo {
      width: 100%; }
    .members_main_article .members_grid .member .member_name_container {
      padding: 5px;
      background-color: #f9f8f8;
      text-align: center; }
      .members_main_article .members_grid .member .member_name_container .member_name {
        font-size: 17px; }

.pagination {
  height: 35px;
  width: 80%;
  margin: 0 auto;
  margin-top: 70px; }
  .pagination .previous,
  .pagination .next {
    transition: all 0.1s;
    height: 100%;
    width: 170px;
    background-color: white;
    border: 2px solid #3c3636;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .pagination .previous .pagination_word,
    .pagination .previous .fa,
    .pagination .next .pagination_word,
    .pagination .next .fa {
      color: #3c3636;
      font-size: 17px;
      font-weight: 800; }
    .pagination .previous .fa,
    .pagination .next .fa {
      font-size: 25px; }
  .pagination .previous {
    float: left; }
    .pagination .previous:hover {
      background: linear-gradient(to left, #50ed0c, white);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .pagination .previous .pagination_word {
      margin-left: 10px; }
  .pagination .next {
    float: right; }
    .pagination .next:hover {
      background: linear-gradient(to right, #50ed0c, white);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .pagination .next .pagination_word {
      margin-right: 10px; }
  .pagination .clear {
    clear: both; }
